<header class="hero position-fixed">{% load static %}
    <div class="container hero-container text-center my-4 pt-3 align-content-between">

        <div>
            <img src="{% static 'images/ana_sq.webp' %}" class="hero-img mb-4 rounded-circle"
                 alt="Picture of {{ info.first_name }}" width="140" height="140" loading="lazy">

            <h2 class="fw-bold mt-3">{{ info }}</h2>
            <p>Welcome to my CV and Portfolio.</p>
            <div class="social-icon my-3">
                <p>
                    {% for link in info.external_links.all %}
                        <a class="social-link mx-3" href="{{ link.url }}" title="{{ link }}">
                            <i class="{{ link.fa_class }}"></i>
                        </a>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</header>