{% load static %}
{% if forloop.parentloop.counter0|divisibleby:2 %}
    <div class="row justify-content-start" data-aos="fade-up">
{% else %}
    <div class="row justify-content-end" data-aos="fade-up">
{% endif %}

<div class="col-7">
    <div class="data-info ">
        <p class="meta-date">{{ employment.date_start.year }} - {{ employment.date_end.year|default_if_none:"" }}
            <img src="{% static 'images/ellipse.png' %}" alt="image">
            <a href="{{ employer.url }}" class="open-description">{{ employer }}</a>
            {% if employment.employment_status %}
                <small>({{ employment.employment_status }})</small>
            {% endif %}
        </p>
        <h3 class="info-title">{{ employment.title }}</h3>
        {% for task in employment.employment_tasks.all %}
            <p>{{ task.name }}</p>
        {% endfor %}
    </div>
</div>
</div>