{% extends 'cv/base.html' %}{% load static www_extras %}

{% block title %}
    <title>CV</title>
{% endblock %}

{% block content %}

    <div class=" offcanvas-btn text-end m-3">
        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">
            <i class="fa-solid fa-bars fa-lg"></i>
        </button>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            {% include 'snippets/card.html' %}
        </div>
    </div>



    <div class="container-fluid">
        <div class="row">

            <section id="navigation-bar" class="navigation position-fixed ">
                <ul class="nav nav-pills text-center align-items-center mt-5 ms-xl-5 ms-3 ">
                    <li>
                        <a href="#home" class="nav-link active rounded-0" aria-current="page" data-bs-toggle="tooltip"
                           data-bs-placement="right" aria-label="Home" data-bs-original-title="Home">
                            <i class="fa-solid fa-house"></i>

                        </a>
                    </li>
                    <li>
                        <a href="#about" class="nav-link rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
                           aria-label="Dashboard" data-bs-original-title="Dashboard">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#resume" class="nav-link rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
                           aria-label="Orders" data-bs-original-title="Orders">
                            <i class="fa-solid fa-graduation-cap"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#portfolio" class="nav-link rounded-0" data-bs-toggle="tooltip"
                           data-bs-placement="right" aria-label="Products" data-bs-original-title="Products">
                            <i class="fa-solid fa-building"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#contact" class="nav-link rounded-0" data-bs-toggle="tooltip" data-bs-placement="right"
                           aria-label="Customers" data-bs-original-title="Customers">
                            <i class="fa-solid fa-phone"></i>
                        </a>
                    </li>
                </ul>

            </section>

            <div class="col-xl-6 offset-xl-2">
                <div class="container content-container">

                    <section id="home" class="mt-0">
                        <div class=" py-lg-4 my-lg-4 text-center">
                            <h1 class="fw-bold">
                                Hi I’m <span class="crypto">{{ info.first_name|lol_crypt:crypto }}</span>
                            </h1>
                            <div class="col-lg-10 mx-auto">
                                <p class="lead-paragraph mb-4">I'm a web developer.</p>
                                <!-- <div class=" gap-2 d-sm-flex justify-content-sm-center">
                                    <button type="button" class="btn btn-primary btn-lg mt-3">HIRE ME</button>
                                </div> -->
                            </div>
                        </div>
                    </section>

                    <section id="about" class="mt-0">
                        <div class="py-4 my-4 ">
                            <h1 class="fw-bold mt-5">About Me</h1>
                            <p class="lead-paragraph my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Dapib eu
                                placerat at nisl posuere aliquet amet pharetra malesuada. Spendisse nisl ac at tortor.
                                Sit faucibus suspendisse risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Dapib eu placerat at nisl posuere aliquet amet pharetra malesuada. Spendisse nisl ac at
                                tortor. Sit faucibus suspendisse risus.</p>
                        </div>

                        <hr class="mid-break my-2">

                        <div class=" py-4 my-4 ">
                            <h2 class="fw-bold">Personal Info</h2>

                            <ul class="list-unstyled">
                                {% for category in info.detail_categories.all %}
                                    <li><b>{{ category }}</b></li>
                                    <ul>
                                        {% for item in category.detail_items.all %}
                                            <li>{{ item.text }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                                <li><b>E-mail</b></li>
                                <ul>
                                    {% for email in info.emails.all %}
                                        <li>
                                            <span class="crypto">{{ email.address|lol_crypt:crypto }}</span>
                                            {% if email.primary %}
                                                <i class="fa-solid fa-circle-check fa-xs ms-1" title="Primary"></i>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <li><b>Phone</b></li>
                                <ul>
                                    {% for phone in info.phone_numbers.all %}
                                        <li>
                                            <span class="crypto">{{ phone.number|lol_crypt:crypto }}</span>
                                            {% if phone.primary %}
                                                <i class="fa-solid fa-circle-check fa-xs ms-1" title="Primary"></i>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </ul>

                        </div>

                    </section>

                    <section id="resume">
                        <div class="py-4 my-4 ">
                            <h1 class="fw-bold mt-5">Resume</h1>
                        </div>

                        <hr class="mid-break my-2">


                        <div class="py-4 my-4 ">
                            <h2 class="fw-bold pb-4">My Skills</h2>


                            <div id="progressbar-tooltip-id" class="progressbar-tooltip">

                                <h4>Django</h4>
                                <div class="ab-progress progress-tooltip" data-progress data-tooltip="true"
                                     data-value="90" data-title=""></div>
                                <h4>Python</h4>
                                <div class="ab-progress progress-tooltip" data-progress data-tooltip="true"
                                     data-value="90" data-title=""></div>
                                <h4>HTML, JavaScript</h4>
                                <div class="ab-progress progress-tooltip" data-progress data-tooltip="true"
                                     data-value="80" data-title=""></div>
                                <h4>CSS</h4>
                                <div class="ab-progress progress-tooltip" data-progress data-tooltip="true"
                                     data-value="10" data-title=""></div>
                            </div>


                        </div>

                        <hr class="mid-break my-2">

                        <div class="py-4 my-4 ">
                            <h2 class="fw-bold pb-4">Experience</h2>

                            {% for employer in info.employers.all %}
                                {% for employment in employer.employments.all %}
                                    {% include 'snippets/employment.html' %}
                                {% endfor %}
                            {% endfor %}

                        </div>

                    </section>

                    <section id="portfolio">

                        <div class="pt-4 mt-4 ">
                            <h1 class="fw-bold mt-5">Portfolio</h1>
                        </div>

                        <p>Listing <span id="item-count">{{ info.portfolio_items.count }}</span> projects.</p>

                        <hr class="mid-break my-2">

                        <div class="pb-4 mb-4 ">

                            <div class="mb-5">
                                <p>
                                    <button class="filter-button active mb-3" data-filter="*">All</button>
                                    {% for tag in tags %}
                                        <button class="filter-button mb-3"
                                                data-filter=".it-{{ tag.slug }}">{{ tag.tag }}
                                        </button>
                                    {% endfor %}
                                </p>
                            </div>

                            <div class="isotope-container">
                                {% for item in info.portfolio_items.all %}
                                    <div class="col m-4 item {% for tag in item.tags.all %} it-{{ tag.slug }} {% endfor %}">
                                        <figure class="portfolio-style">
                                            <a href="{% url 'cv:portfolio_item' item.slug %}" class="image-link"
                                               title="Lists & Notes">
                                                <img src="{{ item.get_primary_image.thumbnail.url }}"
                                                     alt="{{ item.title }}"
                                                     class="img-fluid portfolio-item"></a>
                                            <figcaption>
                                                <span>{{ item.title }}</span><br>
                                                <small style="font-size:0.7em;">{{ item.short_description|default_if_none:"" }}</small>
                                            </figcaption>
                                        </figure>
                                    </div>

                                {% endfor %}

                            </div>

                        </div>

                    </section>

                    <section id="contact">

                        <div class="py-4 my-4 ">
                            <h1 class="fw-bold mt-5">Contact</h1>
                            <p>Wanna talk about project, please feel free to contact us.</p>
                        </div>


                        <hr class="mid-break my-2">

                        <div class="py-4 my-4 ">

                            <div class="row justify-content-around">
                                <div class="col-md-4 contact-list mb-4">
                                    <p class="contact-paragraph">
                                        <i class="fa-solid fa-phone me-2"></i>
                                        <span class="crypto">{{ info.phone_numbers.first.number|lol_crypt:crypto }}</span>
                                    </p>
                                </div>
                                <div class="col-md-4 contact-list mb-4">
                                    <p class="contact-paragraph">
                                        <i class="fa-solid fa-envelope me-2"></i>
                                        <span class="crypto">{{ info.emails.first.address|lol_crypt:crypto }}</span>
                                    </p>
                                </div>
                            </div>

                        </div>

                    </section>

                    <section>
                        <div class="mb-5 pb-5">
                            <p class="copyright ">© Free HTML template by: <a href="https://templatesjungle.com/">
                                <u>TemplatesJungle </u> </a></p>
                        </div>
                    </section>

                </div>
            </div>

            <div class="hero-sidebar col-xl-3 offset-xl-1">
                {% include 'snippets/card.html' %}
            </div>

        </div>
    </div>

    <script>
        document.querySelectorAll(".crypto").forEach(e => {
            if (!e.classList.contains("crypto")) return
            const input = "{{ crypto }}"
            const output = "{{ char_set }}"
            const index = x => input.indexOf(x)
            const translate = x => index(x) > -1 ? output[index(x)] : x
            const decrypted = e.textContent.split('').map(translate).join('')
            e.classList.remove("crypto")
            if (decrypted.includes('@')) {
                e.innerHTML = `<a href="mailto:${decrypted}">${decrypted}</a>`
            } else {
                e.innerText = decrypted
            }
        })

        window.addEventListener("load", (event) => {
            const isotopeContainer = $('.isotope-container').isotope({
                itemSelector: '.item',
                layoutMode: 'masonry'
            })

            const filterButton = $('.filter-button')

            filterButton.click(function () {
                $('.filter-button').removeClass('active')
                $(this).addClass('active')
                const filterValue = $(this).attr('data-filter')
                if (filterValue === '*') {
                    isotopeContainer.isotope({filter: '*'})
                } else {
                    isotopeContainer.isotope({filter: filterValue})
                }
            })

            isotopeContainer.on("arrangeComplete", function () {
                const itemCount = Array.from(document.querySelectorAll(".item")).filter(e => e.style.display != "none").length
                document.querySelector("#item-count").textContent = itemCount
            })

        })

    </script>

{% endblock %}