.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.bs-component {
    padding-bottom: 20px;
}

.list-item {
    padding-left: 1em;
    font-weight: lighter;
    font-size: small;
}

.no-list-style {
    list-style: none;
}

.top-flat {
    margin-top: 1em;
}